*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

clearfix::after{
    display: table;
    content: '';
    clear: both;
}


.navbar-left{
    
    width: 200px;
    height: 100vh;
    background-color: black;
    position: fixed;
    display: flex;
    flex-direction: column;
}
.main-col{
    float: right;
    width: calc(100% - 200px);
    height: 100vh;
    background-color: brown;
    overflow: auto;
}
.header-btn{
    width: calc(100% - 200px);
    height: 50px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
}
.nav-bot{
    background-color: blue;
    height: 50px;
    width: 100%;
    clear: both;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 90;
}
    
}
.nav-home{
    width: 100%;
    /* height: 20vh; */
    
}
.new-playlist-col{
    width: 100%;
    /* s */
    
}
.playlist-name{
    width: 100%;
    height: 70vh;
    
}
.user{
    width: 100%;
    /* height: 30vh; */
    
}

.spotify-logo{
    width: 80%;
    padding: 1.5em;
}

.logo-nav {
    width: 13%;
    height: 13%;
}
.border-box{
    border-left: solid 3px green;
}

.navbar-left ul {
    list-style: none;
}
.navbar-left ul li{
    padding-left: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.navbar-left ul li a {
    text-decoration: none;
    display: flex;
    color:#d2d2d2 ;

}

.navbar-left ul li a h5{
    margin: auto 0;
    padding-left: 0.5em;
}
.title-white{
    color: white;
    padding-left: 1.5em;
    padding-top: 1em ;
}
.square-plus{
   font-size: 2.5em;
   padding-right: 0.2em;
}
.new-playlist {
    color:#d2d2d2;
    padding-left: 1.5em;
    display: flex;
}
.new-playlist a p{
    margin: auto 0;
}
.new-playlist a{
    padding: 0.5em 0;
    text-decoration: none;
    display: flex;
    color:#d2d2d2;
}
.playlist-name {
    overflow: auto;
    
}
.install-app{
    color: #d2d2d2;
    display: flex;
    margin: 0 1.5em;
    border-bottom: solid 1px #d2d2d2;
    padding-bottom: 1em;
}
.user{
    align-self: flex-end;
}
.user-john{
    display: flex;
    color: white;
    margin-left: 1.5em;
    
}
.logo-nav-jhon{
    width: 10%;
    height: 10%;
}

