*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 100%;
    color: #d2d2d2;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.clearfix::after{
    display: table;
    content: '';
    clear: both;
}
.relative{
    position: relative;
}

/* start code */

/* hover */
.img-play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 2.3em;
    cursor: pointer;
    display: none;
}
.overlay:hover{
    opacity: 0.2;

}
.overlay:hover .img-play-button{
    display: block;
}

.pointer-radius{
    position: absolute;
    right: 0;
    bottom: -8px;
    padding: 10px;
    background-color: honeydew;
    border-radius: 50%;
    display: none;
    z-index: 90;
}


.music-bar-2:hover .pointer-radius{
    display: block;
}

/* hover */

/* header-btn */

.header-btn{
    width: calc(100% - 200px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 999;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn-container{
    width: 14em;
    text-align: center;
}

.btn-container button{
    background-color: black;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 0.6em;
}



/* header-btn */

/* formattazione-main */

main{
    overflow: hidden;
}
.navbar-left{
    float: left;
    width: 200px;
    height: calc(100vh - 90px);
    background-color: black;
    display: flex;
    flex-direction: column;
}
.main-col{
    float: right;
    width: calc(100% - 200px);
    height: calc(100vh - 90px);
    background-color: #131921;
    overflow: auto;
}

/* formattazione-main */

/* nav bar left */
}
.nav-home{
    width: 100%;   
}
.new-playlist-col{
    width: 100%;
}
.playlist-name{
    width: 100%;
    height: 70vh;
}
.user{
    width: 100%;
}

.spotify-logo{
    width: 80%;
    padding: 1.5em;
}
.small-logo{
    display: none;
}

.logo-nav {
    width: 13%;
    height: 13%;
}
.border-box{
    border-left: solid 3px green;
}

.navbar-left ul {
    list-style: none;
}
.navbar-left ul li{
    padding-left: 1.5em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.navbar-left ul li a {
    text-decoration: none;
    display: flex;
    color:#d2d2d2 ;

}

.navbar-left ul li a h5{
    margin: auto 0;
    padding-left: 0.5em;
}
.title-white{
    color: white;
    padding-left: 1.5em;
    padding-top: 1em ;
}
.square-plus{
   font-size: 2.5em;
   padding-right: 0.2em;
}
.new-playlist {
    color:#d2d2d2;
    padding-left: 1.5em;
    display: flex;
}
.new-playlist a p{
    margin: auto 0;
}
.new-playlist a{
    padding: 0.5em 0;
    text-decoration: none;
    display: flex;
    color:#d2d2d2;
}
.playlist-name {
    overflow: auto;
    
}
.install-app{
    color: #d2d2d2;
    display: flex;
    margin: 0 1.5em;
    border-bottom: solid 1px #d2d2d2;
    padding-bottom: 1em;
    text-decoration: none;
}
.user{
    align-self: flex-end;
    
}
.margin-05{
    margin-right: 0.5em;
}
.user-john{
    display: flex;
    color: white;
    margin-left: 1.5em;
    margin-top: 0.7em;
    margin-bottom: 0.5em;
    padding-right: 1em;
    text-decoration: none;
    
}
.logo-nav-jhon{
    width: 13%;
    height: 13%;
    background-color: gray;
    border-radius: 50%;
    margin-right: 0.5em;
    
}

.title-jhon{
    font-size: 1em;
    margin: auto 0;

}

/* nav bar left */

/* main */

.main-col{
    
    padding-left: 1em;
    padding-right: 1em;
}

/* lista top */

.lista-genere {
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 70%;
    margin: 0 auto;
    margin-top: 5em;
    flex-wrap: wrap;
    height: 80px;
}
.lista-genere li{
    margin: 0 0.2em;
}

.lista-genere li a{
    text-decoration: none;
    color: #d2d2d2;
    font-weight: bold;
    
}

/* lista top */

/* ripordotti di recente */

.recently-played h2{
    margin: 0.5em 0;
    color: white;
}
.recently-played ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    text-align: center;
}
.recently-played ul li{
    width: calc(100% / 7);
    
}

.recently-played ul li a{
    text-decoration: none;
    color:#d2d2d2;
}
.recently-played ul li a h4{
    color: white;
    margin: 0.5em 0;
}
.recently-played ul li a span{
    font-weight: bold;
    font-size: 80%;
}

.img-recently-pleyed{
    width: 100%;
    
}


/* ripordotti di recente */

/* per jhon doe */

.for-john h2{
    margin: 0.5em 0;
    color: white;
}
.for-john span{
    margin: 1em 0;
    font-weight: bold;
    display: block;
}

.for-john ul{
    display: flex;
    justify-content: start;
    list-style: none;
}
.for-john ul li{
    width: calc(100% / 6);
    padding-bottom: 10px;
    padding-right: 30px;
    text-align: center;
}
    
}
.for-john ul li a{
    text-decoration: none;
    color:#d2d2d2;
}
.for-john ul li a h3{
    color: white;
    margin: 0.5em 0;
}

.border-radius-img{
    border-radius: 50%;
}
/* per jhon doe */


/* main */

/* footer */

.nav-bot{
    background-color: #282828;
    height: 90px;
    width: 100%;
    float: left;
    overflow: hidden;
}

.nav-bot a{
    text-decoration: none;
    color: #d2d2d2;
}

.footer-left{
    float: left;
    width: 30vw;
    min-width: 20%;
    height: 100%;
    border: solid 1px red;
    display: flex;
    flex-wrap: nowrap;
    

}
.footer-left a{
    margin: auto 0;

}
.footer-left img{
    width: 50px;
    height: 50px;
    margin: 0 1em;
}

.sinister-font{
    font-size: 0.8em;
    margin-right: 1.5em;
}
.footer-center{
    float: left;
    width: 40vw;
    height: 100%;
    border: solid 1px red;
}


.music-nav-bar{
    display: flex;
    width: 100%;
    height: 50%;
    justify-content: center;  
}
.music-nav-bar ul{
    list-style: none;
    display: flex;
    margin: auto 0; 
}

.music-nav-bar ul li a{
    margin: 0 0.7em;
    font-size: 1.2em;   
}

.fa-play-circle{
    font-size: 1.5em;
}

.track-time{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center; 
}
.track-time span{
    margin: auto 0;
}
.track-time a{
    width: 70%;
    margin: auto 0;
}

.bar-time{
    /* display: inline-block; */
    height: 4px;
    background-color:#d2d2d2 ;
    border-radius: 3px;
    margin: auto 1em;
    
    
}

.footer-right{
    float: left;
    width: 30vw;
    height: 100%;
    border: solid 1px red;
    display: flex;
    justify-content: flex-end;
}

.footer-right ul{
    list-style: none;
    display: flex;
    height: 100%;
}
.footer-right ul li{
    margin: auto 0.3em;
}
.footer-right a{
    width: 30%;
    margin: auto 0;

}

.music-bar-2{
    width: 40%;
    height: 4px;
    background-color:#040404 ;
    border-radius: 3px;
    margin: auto 0;
    display: block;
    
}
.music-bar{
    /* width: 30%; */
    height: 4px;
    background-color:#d2d2d2 ;
    border-radius: 3px;
    margin: auto 1em;
}

/* footer */

@media  screen and (max-width: 600px) {
    
    .header-btn {
    width: calc(100% - 40px);
    }
   

    .main-col {
        width: calc(100% - 40px);
    }

    .navbar-left{
        width: 40px;
    }

    .hidden{
        display: none;
    }

    
    .logo-nav {
        width: 80%;
        margin: 0 auto;
        padding-top: 0.6em;
    }

    .new-playlist-col{
        
        display: none;
    }
    .playlist-name{
        
        display: none;
    }
    .user{
        width: 100%;
    }

    .spotify-logo{
        display: none;
    }
    .small-logo{
        display: block;
        width: 80%;
        margin: 0.5em auto;
    }

    .border-box{
        border-left: none;
    }

    .navbar-left ul {
        list-style: none;
    }
    .navbar-left ul li{
        padding-left: 0;
        padding-top: 0;
        padding-bottom: 0;
    }
    
    .install-app{
        margin: 0;
        border-bottom: none;
    }
    .user {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        height: 85%;
    }
    .margin-05{
        margin-right: 0;
    }
    .user-john{
        display: flex;
        color: white;
        margin-left: 0;
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 0;
        text-decoration: none;
        
    }
    .logo-nav-jhon{
        width: 60%;
        margin: 0 auto;
        
    }

    .title-jhon{
        display: none;

    }
    .logo-xs{
        font-size: 1.5em;
        margin: 0 auto;
    }
    
}

@media screen and (max-width: 1100px) {
    .recently-played ul{
        
        flex-wrap: wrap;
        justify-content: start;
        
    }
    .recently-played ul li{
        
        width: calc(25% - 10px);
        margin-right: 10px;
    }
    .for-john ul li{
        
        width: calc(25%);
        margin-right: 0;
        padding-right: 10px;
    }

    
    
}
@media screen and (max-width:700px) {

    .recently-played ul{
        
        flex-wrap: wrap;
        justify-content: start;
        
    }
    .recently-played ul li{
        
        width: calc(50% - 10px);
        margin-right: 10px
    }

    
    .for-john ul li{
        
        width: 50%;
        padding-right: 10px; 
        
    }
}
